@model ProjetoDevWeb_V2.Models.Medias

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="GeneroFk" class="control-label"></label>
                <select asp-for="GeneroFk" class ="form-control" asp-items="ViewBag.GeneroFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoMediaFk" class="control-label"></label>
                <select asp-for="TipoMediaFk" class ="form-control" asp-items="ViewBag.TipoMediaFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="Temporadas" class="control-label"></label>
                <input asp-for="Temporadas" class="form-control" />
                <span asp-validation-for="Temporadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Episodios" class="control-label"></label>
                <input asp-for="Episodios" class="form-control" />
                <span asp-validation-for="Episodios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorFk" class="control-label"></label>
                <select asp-for="AutorFk" class ="form-control" asp-items="ViewBag.AutorFk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

